**/*.env
**/*.pem
*.env
*.pem
/.idea/
*.htaccess
**/*.htaccess

**/node_modules/
/node_modules/

/server/*.js
/server/**/*.js

/build/sshPass.txt
/build/github_token.txt
/package-lock.json

/webpack_log.txt
/ts_less_log.txt
/server/log.txt

/dist/public_html/
/server/package-lock.json
