**/*.env
**/*.pem
*.env
*.pem
*.htaccess
**/*.htaccess
/package-lock.json
**/package-lock.json
*.txt
**/*.txt

!LICENSE

/.idea/

/server/node_modules/
/node_modules/

/dist/public_html/**/*.html
/dist/public_html/*.html

**/*.js
*.js

!webpack.config.js
!build/*.js
!dev/*.js