*

!frontend/*.ts
!frontend/*.less
!frontend/*.html
!frontend/**/*.ts
!frontend/**/*.less
!frontend/**/*.html

!server/*.ts
!server/**/*.ts

!.eslintignore
!.eslintrc
!LICENSE
!.gitignore

!**/package.json
!**/webpack.config.js
!**/tsconfig.json

!dev/*.js
!build/*.js