/* -------------- General ---------------- */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

html, body {
    font-family: 'Nunito', serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
}
:root {
    --input-bg: rgb(240, 240, 240);
    --input-hover-bg: rgb(230, 230, 230);
    --input-opposite-bg: rgb(220, 220, 220);

    --mouse-x: 0px;
    --mouse-y: 0px;
}

#top-bar {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-bar-lower {
    grid-column: 2/4;
    grid-row: 1/1;
    display: grid;
}

#content {
    display: grid;
    grid-template-rows: 75px;
    border: none;
    margin: 0;
    padding: 0;
    height: 99vh;
}

#inspector {
    border: 1px solid black;
    grid-column: 4/4;
    grid-row: 1/5;
    min-width: 250px;
    height: 100%;
    overflow-y: scroll;
}

#canvas {
    border: 1px solid black;
    grid-column: 2/4;
    grid-row: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#scripts {
    border: 1px solid black;
    visibility: hidden;
    grid-column: 2/4;
    grid-row: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#myCanvas {
    border: 1px solid #c6c6c6;
}

#hierarchy {
    border: 1px solid black;
    grid-column: 1/1;
    grid-row: 1/5;
    min-width: 250px;
    height: 100%;
    overflow-y: scroll;
}

#pop-up {
    position: fixed;
    visibility: hidden;

    border: 1px solid #b8b8b8;
    border-radius: 8px;
    background-color: var(--input-bg);
    width: 175px;
    min-height: 25px;
    overflow-y: scroll;
    padding: 3px 0 3px 8px;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.add-component-popup {
    text-align: center;
    height: 200px;
    overflow-y: scroll;
    width: 80%;
    border: 1px solid grey;
    border-radius: 8px;
}

.empty-button {
    border: none;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: left;
    outline: none;
}

.short-button {
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
    width: 50px;
    text-align: center;
    background-color: var(--input-bg);
    outline: none;
}

.empty-button:hover {
    background-color: #d4d4d4;
}

.button {
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
    width: 80%;
    text-align: center;
    background-color: var(--input-bg);
    outline: none;
}

.button:hover {
    background-color: var(--input-hover-bg);
}
.short-button:hover {
    background-color: var(--input-hover-bg);
}

.header {
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}

.subheader {
    text-align: center;
    font-size: 15px;
    margin: 5px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-self {
    justify-self: center;
    align-self: center;
}

input {
    border: none;
    border-bottom: 1px solid var(--input-opposite-bg);
    background-color: var(--input-bg);
    border-radius: 4px;
    padding: 2px 2px 2px 4px;
    margin: 2px;
}

input:hover {
    background-color: var(--input-hover-bg);
}

input[type=number] {
    width: 75px
}

input[type=number], input[type=text] {
    height: 18px;
}

.array {
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 18px;
    padding: 8px
}

.even-space-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.even-space-item {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.even-space-stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#scripts-container {
    max-height: 30px; overflow-x: scroll; overflow-y: hidden
}
#scripts-container > ::-webkit-scrollbar-track {
    background-color: var(--input-opposite-bg);
}

.CodeMirror {
    border: 1px solid #eee;
}

.CodeMirror-scroll, .CodeMirror, .cm-s-darcula {
    height: calc(100vh - 190px);
}